/*
Author:	Michal Bača
Login:	xbacam02 
File:	style
Date:	3.4.2015
*/

html,
body {
    margin:0;
    padding:0;
    height:100%;
}



#header {
    width: 100%;
    background-color: #52B9E9;
    height: 60px;
    line-height: 60px;

    padding: 0;
    margin: 0;

    /*text-align: center;*/
    vertical-align: middle;


}

.logo {
    //background-color: red;
    width: 100%;
  //  float: left;

    height: 60px;

}

img {
    height:60px; width:auto;
}

#header ul {
    /*padding: 1em;*/
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: white;
    height: 60px;
}

#header ul li {

    //display: inline;
    float:left;
    height: 60px;


    border-right: 1px solid #173441;


}

#header ul li a {

    padding: 0.2em;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    height: 60px;
    text-decoration: none;
}
#menu {
    height: 60px;
}
#header ul li:hover {
    background-color: #214A5D;


}

.menuActive {
    background-color: #214A5D;


}




#footer {
    position:absolute;
    bottom:0;
    width:100%;

    height:20px;   /* XXXXX => #content padding-bottom:60px */
    background:#BAE3F6;
    text-align: center;

}

#content {
    padding-bottom:60px; /* XXXXXX */
    width: 95%;
    margin-top: 20px;
    margin-left: auto ;
    margin-right: auto ;
}

#cTable {

}

table, th, td {
    border: 1px solid black;
} 

#loginForm {
    float: right;
}

.userInfo {
   // float: right;
}


.hidden {
    
    display: none;

}